/* 전체 영역 */
@import url('https://fonts.googleapis.com/css2?family=Merienda+One&family=Merienda:wght@700&family=Nanum+Pen+Script&display=swap');
*{margin: 0; padding: 0;}
#container{width: 1100px; margin: 0 auto;}

/* header 영역 */
header{height: 80px; background-color: rgb(1, 90, 53);}
header #logo{width: 250px; float: left; padding: 15px 25px;}
header #logo h1{font-family: Merienda;}
header #logo a{text-decoration: none; color: yellow;}
header nav{width: 750px; float: right;}
header #topMenu{list-style: none; text-align: right; margin-right: 40px;}
header #topMenu li{display: inline-block; margin: 15px; padding: 15px;}
header #topMenu li a{text-decoration: none; color: white;}
header #topMenu li a:hover{color: #2fb2fb}

/* index 스타일 */
#intro{height: 1000px;}
#intro #heading h1{
    height: 120px; background: #eee;
    text-align: center; font-size: 2.5em;
    line-height: 100px;   /* 줄 맞출때 */ padding: 20px;
}
#intro #img_show{
    height: 600px;
    margin-top: 50px;
    text-align: center;
}
#intro #img_show img{border-radius: 10px; margin-bottom: 50px;}

/* incheon 스타일 */
#contents{width: 900px; margin: 30px auto;}
#contents section{margin: 30px auto;}
#contents section div{margin: 20px auto;}
#contents section p{line-height: 1.7em;}
#contents section p strong{line-height: 3em; font-size: 1.1em;}
#contents #healing{height: 300px;}
#contents #healing img{float: left; margin-right: 15px; border-radius: 10px;}
#contents .schedule ul li{margin: 10px 30px; list-style: none;}
#contents #activity{height: 300px;}
#contents #activity img{float: left; margin-right: 15px; border-radius: 10px;}
#contents #sightseeing ul li{margin: 10px 30px; list-style: square;}
#contents #sightseeing a{text-decoration: none; color:#000;}
#contents #sightseeing a:hover{color:#2fb2fb; text-decoration: underline;}


/* product 스타일 */
#product{width: 900px; margin: 10px auto;}
#product h2{margin: 15px 0;}
#product p{line-height: 2em;}
#product section{margin: 10px auto; border: 1px dotted #aaa; padding:20px 50px;}
#product #description{border-top-left-radius: 30px; border-top-right-radius: 30px;}
#product #description img{border-radius: 10px;}
#product #receipe ol{padding-left: 20px; margin-top: 10px;}
#product #receipe ol li{line-height: 2em;}
#product #package{border-bottom-left-radius: 30px; border-bottom-right-radius: 30px;}
#produck table, th, td{border: 1px solid #ccc; border-collapse: collapse; 
    padding: 10px 20px;}


/* about_me 스타일 */
#profile #intro {width: 1000px; height: 400px;}
#profile #intro h2{margin: 20px 0 0;}
#profile #intro{height: 300px;}
#profile #intro img{float: left; margin-right: 60px; 
    margin-top: 20px; border-radius: 10px;}
#profile #intro ul li{line-height: 2em; margin-top: 10px;}



#profile #education h2{border-top: 1px solid #222; 
    margin-top: 10px; padding-top: 30px;}
#profile #education ol li{font-size: 1.2em; line-height: 3em;
 }
#profile #education ol{border: 2px solid #222;
    width: 600px; padding: 40px; text-align: left; border-radius: 20px;
    margin-top: 65px;
 }
#profile #education img{float: left; width: 30px; height: 120px;} 
#profile #education #bear img{float: right; width: 320px;  height: 320px;
     border-radius: 15px;} 


#profile section{width: 1000; height: 550px;}

#profile #career h2{border-top: 1px solid #222; padding: 20px 0;}

#career table{border: 1px solid #eee; border-collapse: collapse;
width: 800px;  margin: 30px 200px 10px 150px;}
#career td{text-align: center;}
#career img{padding: 40px; margin-left: 50px; margin-top: 30px;}
#career a:hover{color: #2fb2fb;}






/* footer 영역 */
footer{height: 100px; margin-top: 50px; border-top: 2px solid #222;}
footer #bottomMenu{list-style: none; margin: 10px 10px 10px 50px;}
footer #bottomMenu li{display: inline-block; margin: 10px 0; 
    border-right: 1px solid #ccc; padding: 0 10px;}
footer #bottomMenu li:last-child{border: none;}
footer #bottomMenu li a{text-decoration: none; color: #444;}
footer #bottomMenu li a:hover{color: #2fb2fb;}
